<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Lanzi Borromeo</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#media">Media</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Intro Header -->
<header class="masthead">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto"><p></p></div>
        <div class="col-lg-8 mx-auto"><p></p></div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto"><p></p></div>
        <div class="col-lg-8 mx-auto"><p></p></div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto"><p></p></div>
        <div class="col-lg-8 mx-auto"><p></p></div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto"><p></p></div>
        <div class="col-lg-8 mx-auto"><p></p></div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto"><p></p></div>
        <div class="col-lg-8 mx-auto"><p></p></div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto"><p></p></div>
        <div class="col-lg-8 mx-auto"><p></p></div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <a href="#media" class="btn btn-circle js-scroll-trigger">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Media Section -->
<section id="media" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Social Media</h2>
        <p>Follow | Like | Connect | Subscribe</p>
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="https://www.instagram.com/lanziborromeo/" class="btn btn-default btn-lg">
              <i class="fa fa-instagram fa-fw"></i>
              <span class="network-name">Instagram</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.facebook.com/lanziborromeo/" class="btn btn-default btn-lg">
              <i class="fa fa-facebook fa-fw"></i>
              <span class="network-name">Facebook</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.youtube.com/user/lanziborromeo" class="btn btn-default btn-lg">
              <i class="fa fa-youtube fa-fw"></i>
              <span class="network-name">YouTube</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>About Lanzi</h2>
        <p>Lanzi Borromeo is a Storyteller.</p>
        <p>He believes in everyone's capability to be just one moment away from changing their lives for the better.</p>

        <p>Through KAYA Training and Tools, he has served more than 100 public and private sector companies, businesses and institutions through immersive courses in Leadership Training, Team Building, and Personal Development</p>

        <p>Described as "Feel-Good with a purpose", his methods teach participants how to embrace their own story. With a goal of helping you get where you want to be, he reminds you to never underestimate the power of a plot twist.</p>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer>
  <div class="container text-center">
    <p>Copyright &copy; Lanzi Borromeo 2020</p>
  </div>
</footer>

<%= javascript_include_tag  "grayscale" %>
