<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Lanzi Borromeo</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#media">Media</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Intro Header -->
<header class="masthead">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto"><p></p></div>
        <div class="col-lg-8 mx-auto"><p></p></div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto"><p></p></div>
        <div class="col-lg-8 mx-auto"><p></p></div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto"><p></p></div>
        <div class="col-lg-8 mx-auto"><p></p></div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto"><p></p></div>
        <div class="col-lg-8 mx-auto"><p></p></div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto"><p></p></div>
        <div class="col-lg-8 mx-auto"><p></p></div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto"><p></p></div>
        <div class="col-lg-8 mx-auto"><p></p></div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <a href="#media" class="btn btn-circle js-scroll-trigger">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Media Section -->
<section id="media" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Social Media</h2>
        <p>Follow | Like | Connect | Subscribe</p>
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="https://www.instagram.com/lanziborromeo/" class="btn btn-default btn-lg">
              <i class="fa fa-instagram fa-fw"></i>
              <span class="network-name">Instagram</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.facebook.com/Lanzzzi/" class="btn btn-default btn-lg">
              <i class="fa fa-facebook fa-fw"></i>
              <span class="network-name">Facebook</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.youtube.com/user/lanziborromeo" class="btn btn-default btn-lg">
              <i class="fa fa-youtube fa-fw"></i>
              <span class="network-name">YouTube</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>About Lanzi</h2>
        <p>Lanzi Borromeo is making waves as a young, dynamic speaker. He has impacted a lot of lives, especially the young professionals he encounters every week. Most of his talks are done in Davao City where he is based, but has accepted invitations all over the country.</p>

        <p>Lanzi is a proud alumnus of the Ateneo de Davao University with a degree of Bachelor of Science in Biology, earning some units in Medicine from the Davao Medical School Foundation, Inc. as well.</p>

        <p>Fresh out of school, Lanzi focused on his advocacies like the Davao Children’s Cancer Fund where he worked full time for the foundation. Professionally, he started as a Biomedical Engineer at Globetek Science Foundation, Inc. He finished his tenure with the company as the Project Leader of the Chemo-drug Resistance and Sensitivity Project. When the company’s local office had shut down operations, he opted out of a contract in Manila in favor of his numerous commitments in Davao.</p>

        <p>As a speaker, his inspiration has always come from his own true to life stories and struggles. And he has made it a mission to be a vessel to take the message across. Currently, Lanzi works full-time as a Motivational Speaker, advocating for people to discover passions, achieve dreams, and turn rejections into redirections.</p>

        <p>Lanzi considers being in a community as one of his biggest blessings as his character had been formed along the way. Although his niche is with the young professionals of today, he considers his strengths to be motivational and inspirational in nature, allowing him to connect with any age group.</p>

        <p>Lanzi is part and one of the speakers of the Light of Jesus Family, a Catholic community founded by Bro. Bo Sanchez, a world renowned inspirational speaker, business mentor, and best-selling author. Lanzi goes around various Feasts (“The Feast” - Catholic prayer meetings by the Light of Jesus Family) around Mindanao as one of the speakers and team leaders of the community; He is currently focused on building is own Feast in Davao City</p>

      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer>
  <div class="container text-center">
    <p>Copyright &copy; Lanzi Borromeo 2018</p>
  </div>
</footer>

<%= javascript_include_tag  "grayscale" %>
